In [1]:
from e1_pipe import pipeline

In [2]:
df = pipeline(
        'cfg_init_vars.json',
        'cfg_data_contract.json',
        save=False
    )
df

,cat1,timestamp,num1,num2,num3,num4,num5,num6,num7
0,1,2022-07-01,-0.028108,-1.252247e-01,-1.782633e-02,-0.142115,4.863945e-17,0.000000,-1.589478e-02
1,2,2022-07-01,0.018927,-1.234638e-01,-1.781289e-02,-0.124046,-2.448495e-01,-0.484340,-1.589478e-02
2,3,2022-10-01,0.018412,1.878843e-17,-1.782275e-02,-0.139451,-2.150410e-01,0.631104,-1.589478e-02
3,4,2022-11-01,0.018927,-1.133930e-01,-1.782103e-02,-0.081089,-1.646300e-01,0.000000,-1.589478e-02
4,5,2022-01-01,0.021718,1.878843e-17,-3.152080e-18,-0.145145,-2.931325e-01,0.021933,-1.589478e-02
5,6,2022-12-01,0.018645,8.679941e-02,-1.757655e-02,-0.145145,-2.247374e-01,0.055201,-1.589478e-02
6,7,2022-01-01,0.018717,1.878843e-17,-3.152080e-18,-0.145145,-2.979869e-01,-0.444159,-2.226153e-18
7,8,2022-03-01,0.018701,1.878843e-17,NaN,-0.145145,-2.758174e-01,-0.444159,-2.226153e-18
8,9,2023-01-01,0.018715,1.878843e-17,-1.764709e-02,-0.145145,-3.026075e-01,-0.444159,-2.226153e-18
9,10,2023-02-01,0.018506,-1.157170e-01,-1.782531e-02,-0.145145,-2.872321e-01,0.000000,-1.589478e-02
10,11,2023-03-01,NaN,-1.157170e-01,-1.782512e-02,-0.145145,-2.872321e-01,0.000000,-1.589478e-02
11,12,2023-02-01,0.021305,2.860829e-01,-1.782447e-02,0.993617,4.863945e-17,0.000000,-1.589478e-02
12,13,2023-03-01,0.017482,1.878843e-17,-1.782240e-02,0.993617,-1.288254e-01,0.000000,-1.589478e-02
13,14,2022-09-01,-0.001667,1.878843e-17,-3.152080e-18,0.000000,4.863945e-17,0.000000,-2.226153e-18
14,15,2023-02-01,0.017752,-1.094058e-01,-1.782633e-02,-0.106574,4.863945e-17,0.000000,-1.589478e-02
15,16,2023-03-01,0.019162,-1.233798e-01,-1.782633e-02,-0.082716,4.863945e-17,0.000000,-1.589478e-02
16,17,2022-10-01,0.023227,-8.296910e-02,-1.782633e-02,-0.145145,4.863945e-17,-0.067001,-2.226153e-18
17,18,2023-01-01,0.023227,1.878843e-17,-3.152080e-18,-0.145145,NaN,-0.110800,-2.226153e-18
18,19,2020-01-01,0.019224,-1.263559e-01,-1.782633e-02,-0.143010,4.863945e-17,-0.414988,-1.589478e-02
19,20,2022-05-01,0.018716,-1.267175e-01,-1.782486e-02,-0.145145,4.863945e-17,0.000000,-2.226153e-18