# Tutorial

**Short Summary:** 

**Methods:** The following steps were taken:    
**(1)** p0_profiling: pipeline of data ingestion.   
**(2)**   
**(3)** 

**(4)** The tests:    
**(i)**       
**(ii)**  
**(iii)**     

**Results:**

# Setup

In [1]:
# 2 - Installing using the tutorial.ipynb (copy the following to a .ipynb and run): 
## INSTALL (comment/uncomment) ***
#%conda create -n mobai python=3 jupyterlab -y
#NOTE: add env kernel: 1.Go to terminal; 2. conda activate env; 3. python -m ipykernel install --user --name MOBAI --display-name "MOBAI"
#%conda list python #check env  (check NOTE)
#%conda install pytorch torchvision torchaudio pytorch-cuda=11.7 -c pytorch -y -c pytorch -c nvidia
#%conda install matplotlib Ipython -y
#%conda install pandas -y
#%conda install -c meffmadd pandas-visual-analysis -y
#%conda install -c conda-forge ydata-profiling

#!cd MOBAI 
#!pip install -e . #NOTE: install inside of environment mobai ; # WARNING:It is highly recommended to use pip install . (regular install) and pip install -e . (developer install) to install packages, as invoking setup.py directly will do the wrong things for many dependencies, such as pull prereleases and incompatible package versions, or make the package hard to uninstall with pip.


## CLONE repo (comment/uncomment) ***
#OPTIONAL AURORA repo#!git clone https://github.com/dtx-github/Aurora.git

## DOWNLOAD repo folder (comment/uncomment) ***
#OPTIONAL AURORA code folder(only)#!svn checkout "https://github.com/dtx-github/Aurora/trunk/A3-Implementation/Code" #1.get url from folder #2. Modify the URL Replace tree/master with trunk

# Imports

In [12]:
#Magic for module reloading before starting : https://ipython.readthedocs.io/en/stable/config/extensions/autoreload.html
%reload_ext autoreload
%autoreload 2

In [13]:
%matplotlib inline

# system
from pathlib import Path
import platform
import sys

# nn training
import torch

# package imports
import prototype.utils as u
import prototype.preprocessing as pp
import prototype.pipelines.p0_profiling.e1_pipe as profiling

# Configs 
- Global Configuration Variables: JSON Objects
- DIRs&Checks

### Global Configuration Variables: JSON Objects
Effort to make the code more configurable and agnostic

In [14]:
#initial configuration parameters
init_config = {
    "rdir": Path('/home/ncosta/mobai/prototype'),#root package directory
    "ddir": Path('/home/ncosta/mobai/prototype/data_sample'), #dataset directory
    "dataset": "jul_aug_sep_oct_2022_msc_1.csv", #dataset name 
    "outdir": Path('/home/ncosta/mobai/prototype') #output directory
}
#display(init_config)
#save_config(init_config, "init_config.json")

### DIRs&Checks

In [15]:
#Define root dir dependent on OS
cdir=Path.cwd() # WARNING: Path.cwd() to get current file dir will not work in python script
rdir=init_config["rdir"]
dataset=init_config["dataset"]
ddir=init_config["ddir"]
outdir=init_config["outdir"]
if str(platform.platform()).find('Linux')>-1: #if using windows and linux one can change paths
    rdir=rdir 
    outdir=outdir
print(f'OS: {platform.platform()}')
print(f'current dir: {cdir}')
print(f'package root dir: {rdir}')
print(f'dataset dir: {ddir}')
print(f'output dir: {outdir}')
print(f'cuda is available: {torch.cuda.is_available()}')

OS: Linux-5.15.0-60-generic-x86_64-with-glibc2.31
current dir: /home/ncosta/mobai/prototype
package root dir: /home/ncosta/mobai/prototype
dataset dir: /home/ncosta/mobai/prototype/data_sample
output dir: /home/ncosta/mobai/prototype
cuda is available: True

# Single case study (one data file)

## Dataset Characterization

## Dataset Ingestion

In [16]:
profiling.pipeline(
        rdir / "pipelines/p0_profiling" / 'config_prep.json',
        rdir / "pipelines/p0_profiling" / 'dataContract.json',
    )

**************ORIGINAL DATA***************




*********SUMMARY**********

             Variables  Missing Values  Unique Values
0           Start Date               0             88
1           Start Hour               0             24
2            Call Type               0              2
3           Event Type               0              4
4      Subscriber Type               0              5
5         Traffic Type               0              3
6         Service Type               0              2
7  Partner Description               0            392
8              #Events             173          35697
9       Event Duration               0          58152

,Data Type,# Non-null Records,# Non-Zero Records,% Populated,# Unique Values,Mean,Std,Min,Max
Start Hour,int64,958788,917736,100.00,24,12.00,6.76,0.0,23.0
#Events,float64,958615,958788,99.98,35697,2395.53,31192.28,1.0,3053227.0
Event Duration,int64,958788,312706,100.00,58152,75675.57,535108.41,0.0,11008421.0

,Data Type,# Non-null Records,% Populated,# Unique Values,Most Common Values
Call Type,category,958788,100.0,2,SMS
Event Type,category,958788,100.0,4,TERMINATED
Subscriber Type,category,958788,100.0,5,Roamer In
Traffic Type,category,958788,100.0,3,INT
Service Type,category,958788,100.0,2,NOT-ROAMING
Partner Description,category,958788,100.0,392,P_0001

                             0
# Possible combinations  94080
# Unique combinations    94080

,Call Type,Event Type,Subscriber Type,Traffic Type,Service Type,Partner Description,size
0,SMS,CALL FORWARD,Application,INT,NOT-ROAMING,P_0001,0
1,VOICE,ORIGINATED,Other,OFF-NET,NOT-ROAMING,P_0345,0
2,VOICE,ORIGINATED,Other,OFF-NET,NOT-ROAMING,P_0344,0
3,VOICE,ORIGINATED,Other,OFF-NET,NOT-ROAMING,P_0343,0
4,VOICE,ORIGINATED,Other,OFF-NET,NOT-ROAMING,P_0342,0
...,...,...,...,...,...,...,...
94075,VOICE,ORIGINATED,Roamer In,INT,NOT-ROAMING,P_0012,2309
94076,VOICE,TERMINATED,Roamer In,INT,NOT-ROAMING,P_0012,2498
94077,SMS,TERMINATED,Roamer In,INT,NOT-ROAMING,P_0029,2704
94078,SMS,TERMINATED,Roamer In,INT,NOT-ROAMING,P_0028,2995
94079,SMS,TERMINATED,Roamer In,INT,NOT-ROAMING,P_0012,3408

*********Profiling**********


(958788, 10)

  0%|          | 0/1184 [00:00<?, ?it/s]

**************TRANSFORMED DATA***************




*********SUMMARY**********

             Variables  Missing Values  Unique Values
0           Start Date               0             88
1           Start Hour               0             24
2            Call Type               0              2
3           Event Type               0              4
4      Subscriber Type               0              5
5         Traffic Type               0              3
6         Service Type               0              2
7  Partner Description               0            392
8              #Events               0          35698
9       Event Duration               0          58152

,Data Type,# Non-null Records,# Non-Zero Records,% Populated,# Unique Values,Mean,Std,Min,Max
Start Hour,float64,958613,917570,100.0,24,12.0,6.76,0.00,23.00
#Events,float64,958613,958613,100.0,35698,-0.0,1.00,-0.08,97.81
Event Duration,float64,958613,958613,100.0,58152,-0.0,1.00,-0.14,20.43

,Data Type,# Non-null Records,% Populated,# Unique Values,Most Common Values
Call Type,int64,958613,100.0,2,0
Event Type,int64,958613,100.0,4,3
Subscriber Type,int64,958613,100.0,5,4
Traffic Type,int64,958613,100.0,3,0
Service Type,int64,958613,100.0,2,0
Partner Description,int64,958613,100.0,392,0

                             0
# Possible combinations  94080
# Unique combinations     1555

,Call Type,Event Type,Subscriber Type,Traffic Type,Service Type,Partner Description,size
0,0,1,4,0,0,310,1
1,1,0,4,0,0,143,1
2,1,0,4,0,0,152,1
3,1,1,4,0,0,366,1
4,1,1,4,0,0,365,1
...,...,...,...,...,...,...,...
1550,1,1,4,0,0,11,2309
1551,1,3,4,0,0,11,2497
1552,0,3,4,0,0,28,2690
1553,0,3,4,0,0,27,2908
1554,0,3,4,0,0,11,3408

*********Profiling**********


(958613, 10)

  0%|          | 0/1184 [00:00<?, ?it/s]

## Dataset Preparation

### Data Preprocessing (Data preparation)

## Models

##### The workflow

**Anomaly detection: the fundamental idea**

The approach used by almost all anomaly detection algorithms
- Create a model for what normal data should look like*
- Calculate a score for each data point that measures how far from normal it is
- If score is above a previously specified threshold, classify point as an anomaly
- Devising an appropriate model and score is essential

**Anomaly detection: modeling the data**

The approach you take depends on what you know.
- If you have examples of normal or anomalous data, you can use this information to find anomalies
    - Supervised anomaly detection
- If you don’t have any prior information about normal or anomalous data, you have to use a different approach
    - Unsupervised anomaly detection 
    - Requires probability and statistics to look for anomalies

*CAUTION*: While exploring the data before working with it is strongly encouraged, it is inappropriate to use this exploration to decide what the cutoff/threshold should be for the scoring method. If you do this, all you will get are the outliers you have already chosen during your exploration. 
**The modeling, scoring and cutoff/threshold choices should be made without bias.**

### Univariate

#### Study 1:

### Multivariate

# MULTI CASE STUDY